.menu-item.menu-item-selected {
    /* background color to blurred white */
    background-color: rgba(92, 106, 188, 0.846);
    border-radius: 5px;

}

.menu-icon {
    width: 20px;
    height: 20px;
    /* margin-top: 1px; */
    
}





.menu-item-name{
    font-size: 13px;
    color: white;
}

.menu-item-name.bold{
    font-weight: bold;

}

.menu-item.menu-item-hover {
    /* background color to blurred white */
    background-color: rgba(92, 106, 188, 0.846);
    border-radius: 5px;

}

.menu-item {
    display: flex;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    align-content: center;
    flex-wrap: wrap;
}