
html {
    min-width: 100%;
    min-height: 100%;
    background-image: url("assets/monterey_background.png");
    background-position: top center;
    background-color: #000;
    overflow: hidden;
  }
  
  body {
    width: 1054px;
    height: 1054px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }