<div eName="chromeWindow" class="window window-chrome window-open window-active" style="top: 25px;">
	<div class="chrome-top-bar">
		<div class="window-control-icons">
			<img class="window-control-icon quit-icon" src="assets/quit_icon.png" />
            <img class="window-control-icon min-icon" src="assets/minimize_icon.png" />
            <img class="window-control-icon max-icon" src="assets/maximize_icon.png" />
		</div>
		<div class="chrome-tabs">
			<div class="chrome-tab chrome-tab-active">
				<div class="chrome-tab-contents">
					<img class="chrome-tab-icon" src="./assets/duck-logo.png" alt="Tab Icon" />
                    <label class="chrome-tab-title">New Tab</label>
                    <img class="chrome-tab-close" src="assets/xmark.png" alt="Close Tab" />
				</div>
				<div class="chrome-tab-divider">
				</div>
			</div>
			<div class="chrome-tab">
				<div class="chrome-tab-contents">
					<img class="chrome-tab-icon" src="./assets/duck-logo.png" alt="Tab Icon" />
                    <label class="chrome-tab-title">New Tab</label>
                    <img class="chrome-tab-close" src="assets/xmark.png" alt="Close Tab" />
				</div>
				<div class="chrome-tab-divider">
				</div>
			</div>
			<div class="chrome-tab">
				<div class="chrome-tab-contents">
					<img class="chrome-tab-icon" src="./assets/duck-logo.png" alt="Tab Icon" />
                    <label class="chrome-tab-title">New Tab</label>
                    <img class="chrome-tab-close" src="assets/xmark.png" alt="Close Tab" />
				</div>
				<div class="chrome-tab-divider">
				</div>
			</div>
			<img class="chrome-tab-add" src="./assets/plus.png" />
		</div>
	</div>
	<div class="chrome-search-bar">
		<div class="chrome-search-bar-controls">
			<div class="chrome-search-bar-back chrome-search-bar-control">
                <img class="chrome-search-bar-back-icon" src="./assets/left_arrow_disabled.png" />
            </div>
			<div class="chrome-search-bar-forward chrome-search-bar-control">
                <img class="chrome-search-bar-forward-icon" src="./assets/right_arrow_disabled.png" />
            </div>
			<div class="chrome-search-bar-refresh chrome-search-bar-control">
                <img class="chrome-search-bar-refresh-icon" src="./assets/refresh_icon.png" />
            </div>
		</div>
		<div class="chrome-search-bar-input-div">
            <input class="chrome-search-bar-input" type="text" placeholder="Search DuckDuckGo or type a URL" />
        </div>
		<div class="chrome-search-bar-extras">
			<div class="chrome-search-bar-extensions">
                <img class="chrome-search-bar-extensions-icon" src="./assets/extension_icon.png" />
            </div>
			<div class="chrome-search-bar-profile">
                <img class="chrome-search-bar-profile-icon" src="./assets/profile_icon.png" />
            </div>
			<div class="chrome-search-bar-settings">
                <img class="chrome-search-bar-settings-icon" src="./assets/dot_menu_icon.png" />
            </div>
		</div>
	</div>
	<div class="chrome-bookmarks-bar">
		<div class="chrome-bookmark">
            <img class="chrome-bookmark-icon" src="./assets/duck-logo.png" alt="Bookmark Icon" />
            <label class="chrome-bookmark-title">Welcome!</label>
        </div>
		<div class="chrome-bookmark">
            <img class="chrome-bookmark-icon" src="./assets/profile_icon.png" alt="Bookmark Icon" />
            <label class="chrome-bookmark-title">GitHub</label>
        </div>
	</div>
	<div class="chrome-window-content">
		<div class="chrome-page chrome-page-basic">
			<div class="duckduckgo-icon-container">
                <img src="./assets/duck-logo.png" class="duckduckgo-icon" />
                <label class="duckduckgo-icon-text">DuckDuckGo</label>
            </div>
			<div class="duckduckgo-search-container">
                <input class="duckduckgo-search-bar" type="text" />
                <img src="./assets/search_icon.png" class="duckduckgo-search-button" />
            </div>
		</div>
	</div>
</div>
