<div eName="window" class="window,window-chrome,window-open,window-active" style="top:25px;">
    <div eName="ControlIcons">
        <img eName="ControlQuitIcon" class="window-control-icon quit-icon" src="assets/quit_icon.png">
        <img eName="ControlMinIcon" class="window-control-icon min-icon" src="assets/minimize_icon.png">
        <img eName="ControlMaxIcon" class="window-control-icon max-icon" src="assets/maximize_icon.png">
    </div>
    <img src="" alt="">
    <div class="window-title">
        <img eName="WindowTitleIcon" src="" alt="">
        <label for="{test}">Hello {name}</label>
        <label for="">Bye {name}</label>
    </div>
</div>